python-telegram-bot==21.7
gspread==5.11.3
google-auth==2.22.0
requests==2.31.0
Pillow==10.0.1
pytesseract==0.3.10
convertdate
oauth2client==4.1.3
openpyxl
pandas
convertdate
google-auth
gspread
oauth2client
openpyxl
pandas
Pillow
pytesseract
python-telegram-bot
requests
telegram
convertdate
google-auth
gspread
oauth2client
openpyxl
pandas
Pillow
pytesseract
python-telegram-bot
requests
